@import "~bootstrap";

body {
    font-family: spartan;
    color: #444;
}

.jumbotron-img {
    background: rgb(237,116,88);
    background: linear-gradient(302deg, rgba(237,116,88,1) 16%, rgba(51,61,81,1) 97%);
    color: #fff;
}

.jumbotron-img-landing {
    background: rgb(74, 143, 255);
    background: linear-gradient(302deg, rgba(74, 143, 255) 16%, rgba(51,61,81,1) 97%);
    color: #fff;
}

.q-container {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background-color: #efefee;
}

.q-container-show {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background-color: #ED7458 ;
}

.q-container img, .q-container-show img {
    border: 2px solid #fff;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.q-display {
    background: #fff;
    border-radius: .25rem;
}
.q-title-show {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #fff;
}
.q-title {
    text-transform: uppercase;
    color: #444;
}

.q-title:hover {
    color: #2B2B2B;
}

.q-title h2 {
    font-size: 1.3rem;
}

.q-display-response {
    background: #333D51;
    color: #fff;
}

.answer-link:hover .magic-wand {
    transform: rotate(20deg);
}

.vote-arrows {
    font-size: 1.5rem;
}

.vote-arrows span {
    font-size: 1rem;
}

.vote-arrows a {
    color: #444;
}

.vote-up:hover {
    color: #3D9970;
}
.vote-down:hover {
    color: #FF4136;
}

.btn-question {
    color: #FFFFFF;
    background-color: #ED7458;
    border-color: #D45B3F;
}

.btn-question:hover,
.btn-question:focus,
.btn-question:active,
.btn-question.active,
.open .dropdown-toggle.btn-question {
    color: #FFFFFF;
    background-color: #D45B3F;
    border-color: #D45B3F;
}

.btn-question:active,
.btn-question.active,
.open .dropdown-toggle.btn-question {
    background-image: none;
}

.btn-question.disabled,
.btn-question[disabled],
fieldset[disabled] .btn-question,
.btn-question.disabled:hover,
.btn-question[disabled]:hover,
fieldset[disabled] .btn-question:hover,
.btn-question.disabled:focus,
.btn-question[disabled]:focus,
fieldset[disabled] .btn-question:focus,
.btn-question.disabled:active,
.btn-question[disabled]:active,
fieldset[disabled] .btn-question:active,
.btn-question.disabled.active,
.btn-question[disabled].active,
fieldset[disabled] .btn-question.active {
    background-color: #ED7458;
    border-color: #D45B3F;
}

.btn-question .badge {
    color: #ED7458;
    background-color: #FFFFFF;
}

footer {
    background-color: #efefee;
}

.carousel-item.principal {
    padding-left: 25%;
}

@media screen and (max-width: 475px) {

    .carousel-item.principal {
        padding-left: 33%;
    }

    button.btn.btn-primary {
        margin-bottom: 3%;
    }

}

/* CSS para las imagenes en la página de landing */
.imagen-carousel{
    display: block;
    max-width:800px;
    max-height:400px;
    width: auto;
    height: auto;
}

@media screen and (max-width:500px){
    .imagen-carousel{
        display: block;
        max-width:300px;
        max-height:400px;
        width: auto;
        height: auto;
    }
}

@media screen and (max-width:992px) and (min-width: 501px){
    .imagen-carousel{
        display: block;
        max-width:500px;
        max-height:400px;
        width: auto;
        height: auto;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.imagen-thumbnail{
    max-width:150px;
    max-height:200px;
    width: auto;
    height: auto;
    margin:auto;


    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.imagen-thumbnail:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
